h1 {
    background-color : cadetblue;     /* hexadecimal color */
    background-color : rgb(0, 0, 255 /50%); /* rgb color */
    background-color : red;               /*  color name */
    background-image : url("../css/images/download.jpeg");
    background-repeat : repeat;    /* defualt value is no repeat*/
    background-repeat : repeat-x;  /* repeat ofky*/
    background-repeat : repeat-y;  /*repeat omwdy*/
}
